.tauriFrameContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.tauriFrame {
  display: flex;
  flex-direction: column;
  /* background-color: var(--red); */
  min-height: max-content;
  background-color: var(--FRAME_COLOR);
}

.tauriFrame.in_game {
  background-color: var(--green);
}

.tauriFrameInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.75rem;
  padding-left: 0.895rem;
  padding-bottom: 0.5rem;
  gap: 0.35rem;
  width: 100%;
  user-select: none;
}

.tauriFrameIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tauriFrameIcon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.tauriFrameTitle {
  font-size: 1.75rem;
  margin-top: 0.25rem;
  line-height: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 0 1rem #ffffff0e;
}

.tauriFrameInformation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.7rem 1rem;
  padding-top: 0.25rem;
  user-select: none;
}

.tauriFrameInformationSmol {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem 1rem;
  padding-top: 0rem;
}

.tauriFrameInformation span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #ffffffb0;
}

.tauriFrameInformation span strong {
  color: #ffffffee;
  font-weight: 600;
}

.tauriFrameInformation span strong.Llama {
  color: #6cffff;
}

.tauriFrameInformation span strong.Crystal {
  color: #fa5eff;
}

.tauriFrameInformation span strong.Retrac {
  color: #fff45e;
}

.tauriFrameInformation span strong.Ultimate {
  color: #ff9925;
}

.tauriFrameInformation span strong.Booster {
  color: #f47fff;
}

.tauriFrameInformation span strong.Content {
  color: #ff2b2b;
  font-weight: 700;
}

.tauriFrame s {
  margin-left: auto;
}

.tauriFrameAction {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.tauriFrameAction.close {
  width: 1.25rem;
  height: 1.25rem;
}

.tauriFrameAction svg {
  width: 100%;
  height: 100%;
  fill: #ffffff99;
}

.tauriFrameAction:hover svg {
  fill: #ffffffbb;
}

.tauriFrameContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
